[2015-08-05 00:58] igorpreston opened #16 "moment.default(...).tz is not a function and installation problems"
Hello,

I tried installing this addon with `ember install ember-calendar` but dependencies are not correctly installed with it and the problem with broccoli-sass and broccoli-merge-trees pop ups.
I tried installing directly from git repository: `npm install https://github.com/alphasights/ember-calendar` and then cd'ing into the _node_modules/ember-calendar_ and running npm install, though still no

[2015-08-05 08:42] willrax commented on #16
Thanks for reporting this. Will look in to it.

[2015-08-05 12:28] igorpreston commented on #16
@willrax Thanks for quick reply! I am looking forward to fix because I really liked the calendar widget itself and want to incorporate this addon in some big project that is currently in development.

[2015-08-07 18:37] matteodepalo commented on #16
@igorpreston Have you tried running `ember generate ember-calendar`?

[2015-08-07 19:09] igorpreston commented on #16
@matteodepalo
Created an empty app and did things in following sequence:
1. ember install ember-calendar
2. ember generate ember-calendar
3. Tried running app and it throwed an error that __broccoli-sass__ is required. Ok, installed broccoli-sass.
4. After rebooting app, the error in console: _Error: Could not find module `moment` imported from `ember-moment/helpers/moment`_
5. Tried running npm i

[2015-08-07 19:10] matteodepalo commented on #16
@eugeniodepalo would you be able to help on this? I remember you were talking about some issues with dependencies not being installed.

[2015-08-10 12:53] e-karma commented on #16
@eugeniodepalo @matteodepalo @willrax Hello Everybody, Great work on the addon!!
Very clean implementation.  I am however encountering the same issue...

Any News?

Thanks!!

[2015-08-10 15:48] matteodepalo commented on #16
Working on it https://github.com/alphasights/ember-calendar/pull/17

[2015-08-10 21:10] matteodepalo commented on #16
The PR is ready for review. In the meanwhile if you want to help test this you can run:

- `ember new calendar-test`
- `cd calendar-test`
- `npm install "git+ssh://git@github.com:alphasights/ember-calendar.git#feature/mde/fix-dependencies" --save-dev`
- `ember generate ember-calendar`

At this point if you include the basic {{as-calendar}} component in application.hbs you should see the calendar w

[2015-08-11 13:07] igorpreston commented on #16
@matteodepalo did exactly as you described and included this component.
The only error I experienced is after running ember serve, it said that there is no app.scss file. I changed app.css to app.scss and worked. However:

[code]
Then got an error in console:
[code]

I tried removing all properties on component and did this:
[code]
Got an error:
[code]

[2015-08-11 13:14] matteodepalo commented on #16
Did you add the basic application controller as stated in the readme?

[code]

[2015-08-11 13:16] matteodepalo commented on #16
That's mostly needed for the occurences array which is otherwise undefined.

[2015-08-11 14:47] matteodepalo commented on #16
Version 0.1.4 is out, fixing the dependency issues you've found. I'm going to close this but feel free to open another issue if you encounter other problems!

[2015-08-11 14:47] #16 closed

[2015-08-12 02:49] igorpreston opened #18 "Merge error: file app.scss exists"
The last PR for dependency fix works just fine if installing ember-calendar into empty app. But tried to integrate ember-calendar with existing one and got this error
[code]

I was using ember-cli-sass, but ember-calendar forced to install broccoli-sass. The error stayed however. I removed ember-cli-sass in favor of broccoli-sass but same story.
I don't know where to pass { overwrite: true } to me

[2015-08-12 13:02] matteodepalo commented on #18
Thank you for reporting this, I'm planning to work on migrating the styles to `ember-cli-sass`. That should solve this issue.

[2015-08-12 13:04] matteodepalo commented on #18
In the meanwhile since styles are optional you could try to adapt the current styles of the addon to your app by taking inspiration from the styles in the app/styles folder. I know it's not ideal, but it will be temporary.

[2015-08-12 13:06] igorpreston commented on #18
@matteodepalo The problem is I didn't include any styles in the app for ember-calendar. After installing calendar with ember install ember-calendar and installing broccoli-sass, it fails with this error.
I can't boot the up with ember-calendar installed.

[2015-08-12 13:13] matteodepalo commented on #18
It could be that we're conflicting with a particular file structure, as for one of our apps it works without causing troubles. I believe migrating to ember-cli-sass should give us an isolated environment that should cause less issues.

[2015-08-12 13:58] matteodepalo commented on #18
Could you share an example app that has this issue? That would help me solve it.

[2015-08-12 17:19] igorpreston commented on #18
@matteodepalo sure, here is the example app with ember-cli-sass installed first, and then ember-calendar added with broccoli-sass. Fails to boot.

https://github.com/igorpreston/ember-calendar-error

[2015-08-12 17:24] matteodepalo commented on #18
Thank you! I'll take a look into it as soon as possible.

[2015-08-17 19:36] igorpreston commented on #18
@matteodepalo hi, any news about the fix? Really looking forward into it.

[2015-08-17 19:36] matteodepalo commented on #18
Hi sorry I haven't had the time to look into this, I'll try to find some time this week.

[2015-08-18 19:48] matteodepalo commented on #18
I've cloned your repo and after installing everything I've got this error:

[code]

I then deleted the `ember-cli-sass` line from the package json and the page rendered correctly. Could it be an issue with npm cache?

[2015-08-18 20:49] igorpreston commented on #18
@matteodepalo you're right, `npm cache clear` did the job for that repo, but not in the production app.
I removed ember-cli-sass and ran npm cache clear.
The error stays:
[code]

[2015-08-18 20:54] matteodepalo commented on #18
It seems that `ember-cli-sass` and `broccoli-sass` have incompatibilities that I didn't expect. I would prefer to take some time to migrate to `ember-cli-sass` which seems to be the option most people use. The only problem I have is that it's not clear how to use `ember-cli-sass` and avoid the automatic inclusion of the addon stylesheets into the application vendor.css. I'll investigate and report

[2015-08-18 21:45] matteodepalo commented on #18
From this issue https://github.com/ember-cli/ember-cli/pull/3344 it looks like `ember-cli-sass` doesn't currently allow us to put styles in `app/styles` and make them opt-in. Once that's fixed I can give this migration a try.

[2015-09-03 09:25] igorpreston commented on #18
@matteodepalo hey, we must proceed forward with a hack in place for ember-cli-sass that should enable the calendar update to work.  https://github.com/aexmachina/ember-cli-sass/pull/57/files

Can you guide me or share code on what needs to be done assuming the ember-cli-sass issue was solved?  We have an important client we must demonstrate calendar for later today.

[2015-09-03 14:54] matteodepalo commented on #18
If you're looking for workarounds I suggest checking the linked issue in ember-cli.

[2015-09-04 10:00] rb2020 opened #19 "Large non-scoped CSS Stylesheet make integrating into a larger app a hastle"
Any ideas as to how to integrate the 5k lines of CSS into a larger existing app?  I'm personally a fan of the design and would prefer to prevent bleeding versus full-scale rip and replacement.

The only thing I can come up with is filtering the calendar through an addon such as this => https://github.com/ebryn/ember-component-css where it scopes the CSS.

Thoughts? Have you dealt with / overcame t

[2015-09-14 14:28] Arkham commented on #19
Hey @rb2020, we are planning to release a new version which doesn't depend on the css framework we use internally. Stay tuned!

[2015-09-29 17:06] sandstrom commented on #18
Possibly this is solved now: https://github.com/ember-cli/ember-cli/pull/4825#issuecomment-144107098

[2015-10-08 21:06] chrismllr opened #20 "Overlapping Calendar Occurrences"
Any solution to handling multiple occurrences that start at the same time? Currently they overlap and are inaccessible.

[2015-11-20 21:36] blaedj opened #25 "Could not find module `moment` imported from `ember-calendar/macros/computed-moment`"
This may be related to #16, or at least a similar problem, I'm not sure.

### Repro Steps:

 1. `ember new calendar-test`
 2. `ember install ember-calendar`
 3. `ember generate ember-calendar`
 4.  rename `app/styles/app.css` to `app/styles/app.scss`
 5. add `{{as-calendar}}` to `app/templates/application.hbs`
 6. run `ember serve` and view in browser, an error is shown in the console:

         C

[2015-11-23 14:17] Arkham commented on #25
Hey @blaedj, thanks so much for reporting this! I've released version `0.1.8` of the addon, which should fix all the issues.

Here's what I did to have it working:

1. `ember new calendar-test && cd calendar-test`
2. `ember install ember-calendar`
3. `ember install ember-cli-paint`, this is only needed if you want to use our styles
4. Add some standard code in the following files:

`app/controller

[2015-11-23 14:18] Arkham commented on #20
Hey @chrismllr, we haven't implemented anything at this point, but since you can customize the inner block of the occurrence it is definitely doable. If you need some tips to get you started, feel free to ask!

[2015-11-23 14:29] Arkham commented on #18
Although there is still an incompatibility between broccoli-sass and ember-cli-sass, if you remove ember-cli-sass and run npm install, everything will work fine. I'll close the issue, feel free to reopen if the problem pops up again.

[2015-11-23 14:29] #18 closed

[2015-11-23 15:03] blaedj commented on #25
Hi @Arkham, this fixed it for me thank you!

[2015-11-23 15:06] Arkham commented on #25
Great, closing then!

[2015-11-23 15:06] #25 closed

[2015-11-23 15:44] peec opened #27 "Event over multiple days possibility"
Great addon!

Are there any future plans to support event lasting for multiple days?

[2015-11-23 17:52] Arkham commented on #27
Hey @peec, do you mean an event spanning over multiple full days (i.e. starting on monday and ending onthursday) or an event starting at one hour of a day and ending another hour of a different day? (i.e. starting today at 9:30 and ending tomorrow 12:30).

We thought about adding those events, but haven't started working on them actively. I would love to hear your thoughts on the matter though :)

[2015-11-23 21:42] marendra opened #28 "error in installing ember calendar"
i just want to install ember calendar using : ember install ember-calendar , and i found error like this :

/Users/marendra/workspace/testcal/node_modules/ember-calendar/blueprints/ember-calendar/index.js:10
    }).then(() => {
             ^
Unexpected token )
/Users/marendra/workspace/testcal/node_modules/ember-calendar/blueprints/ember-calendar/index.js:10
    }).then(() => {
             ^
Syn

[2015-11-23 22:36] Arkham commented on #28
Hey @marendra, that's a really weird error.. Which version of node and npm are you using?

[2015-11-23 22:52] marendra commented on #28
Arifs-MBP:testcal marendra$ node -v
v0.12.7
Arifs-MBP:testcal marendra$ npm -version
2.11.3

[2015-11-23 23:16] Arkham commented on #28
Could you try upgrading node to version 5.1.0 and repeating the process I've described here? https://github.com/alphasights/ember-calendar/issues/25#issuecomment-158943251

[2015-11-24 01:45] marendra commented on #28
@Arkham hei man, thanks, problem solved after upgrading the node and the npm

[2015-11-24 01:45] #28 closed

[2015-11-24 08:09] peec commented on #27
Yes, I mean multiple full days so the calendar can be used for e.g vacation planning to show when people are gone from work (my usecase).

Though a  feature with specific hours would be even better I guess,

Google has this kind of feature, in Google Calendar to my knowledge you have to click edit on the calendar item and a new screen opens where you can select from dates / to dates with timestamp

[2016-01-15 00:15] jcowley commented on #19
+1 This is a great component, but I think the inclusion of the global CSS would be a non starter for anyone using this component in any app. It completely changes the style of the entire site.

I love the component and the code is beautiful. But that 5K lines of CSS... whew. Trying to decide now whether it's feasible to rebuild the CSS from the ground up so that I can use it.

[2016-01-18 15:28] jcowley commented on #19
Hi @Arkham,

I'm working on a couple things in a fork:

1. Eliminating dependency on paint (and adding back minimal styles required for the calendar component)
2. Wrap component in top-level css class
3. Eliminate all global styles (all styles assigned to classes used by the component)

I'd love to submit this back as a PR, but wanted to get some feedback on this approach. It's not quite finished

[2016-01-18 15:50] Arkham commented on #19
Hey @jcowley that's exactly what we are planning to do :dancer:

In addition to that, we want to BEMify the whole addon. Unfortunately, our CSS wizard @deioo has been away for some time, but here is the PR where he started the transition: https://github.com/alphasights/ember-calendar/pull/31

Hopefully by the end of the week we should have a beta version with paint removed :)

[2016-01-18 16:11] jcowley commented on #19
Ok, great. I'll look for that beta.

Thank you!

[2016-01-20 14:40] Arkham commented on #19
Hey @jcowley @rb2020 we just released `v0.3.0` which removes the paint dependency and bemifies the addon! Let me know if everything is working properly :)

[2016-01-21 02:06] jcowley commented on #19
@Arkham:

Looks really good. I did find a few small issues.

1. Build problems with font awesome. I put up PR https://github.com/alphasights/ember-calendar/pull/32 for that.
2. There are still a handful of global styles that are being imported by 'addons/ember-calendar/main' (specifically in the _global.scss file). The root element font-size is being set, among other things. I'd be happy to submit

[2016-01-21 16:46] deioo commented on #19
@jcowley you're right, we're going to move these resets to the dummy app so the component won't inherit them by default. I'll link it to the issue once a new release is online.

[2016-01-22 18:45] Arkham commented on #19
@jcowley just released `0.3.1` which includes all the fixes :) :confetti_ball:

[2016-01-25 06:45] jcowley commented on #19
Tried the new version and it's working well for me. Seems like this issue can be closed.

Thank you again. Great component!

[2016-01-25 09:24] #19 closed

[2016-03-04 15:00] elhachimi opened #37 "Uncaught TypeError: (0 , _moment.default)(...).tz is not a function in a newly created ember app"
Here is what i get
<img width="1264" alt="screen shot 2016-03-04 at 2 58 45 pm" src="https://cloud.githubusercontent.com/assets/3928471/13530559/d206752e-e219-11e5-98e4-26ae0093f7c7.png">

[2016-03-07 09:48] Arkham commented on #37
Hi @elhachimi,

thanks for reporting this, I've included the fix in the README. Inside your ENV configuration add

[code]

[2016-03-07 10:27] Arkham commented on #37
Nevermind, I figured out a way which doesn't require the user to change the config manually. Just install `0.3.4` and everything should be fine :)

[2016-03-07 10:33] elhachimi commented on #37
Seams to work fine :+1:  , awesome thanks a lot .

[2016-03-07 10:33] #37 closed

[2016-03-07 12:48] georges49 opened #38 "Add Occurrence error"
Hello,

When I click anywhere on the calendar, this error appears :
**this.attrs.onAddOccurrence is not a function**

When I created the app a file named application.hbs was created in templates
so I added this code in it:

[code]

Then I generated a controller named application also with the command : ember generate controller application

and in app/controllers/application.js I added this code:

[2016-03-07 13:30] Arkham commented on #38
hey @georges49 what happens if you rename your template to `index.hbs` and your controller to `index.js`?

[2016-03-07 13:40] georges49 commented on #38
Hi,
I renamed the files and the error persists.

[2016-03-07 13:42] Arkham commented on #38
Here's my diff on a newly created ember app:

[code]

[2016-03-07 13:57] georges49 commented on #38
So the error is not appearing when you create a new app?
I have the same code you posted in the .js, .hbs and .scss files

**Here is the code I have in bower.json:**
{
  "name": "calendar-application",
  "dependencies": {
    "ember": "~2.4.1",
    "ember-cli-shims": "0.1.0",
    "ember-cli-test-loader": "0.2.2",
    "ember-qunit-notifications": "0.1.0",
    "interact": "1.2.5",
    "jquery-simula

[2016-03-07 14:15] Arkham commented on #38
Not sure then, the error usually means you are not defining an action in the controller associated to that template. Try checking for typos or creating an app from scratch.

[2016-03-07 14:32] georges49 commented on #38
I don't think it's typos as I copied and pasted the code from the read me.
And I did an app before this one and the error appeared there also.

Could it be something related to the version? A certain incompatibility?
I noticed that you have it "ember": "~2.3.1" in your bower.json file
Mine is "ember": "~2.4.1"

Thanks for your help anyway.

[2016-03-07 14:53] Arkham commented on #38
I don't think so, because we've been using this addon in production since ember 1.13. I've pushed my working version to a new repo, so that you can try pulling and running `npm install && bower install && ember s`: https://github.com/Arkham/ember-calendar-test

[2016-03-07 15:05] georges49 commented on #38
So I create a new app and do this command:
ember install ember-calendar-test instead of ember install ember-calendar?

[2016-03-07 15:11] Arkham commented on #38
No, just do this:

* `git clone https://github.com/Arkham/ember-calendar-test.git`
* `cd ember-calendar-test`
* `npm install && bower install && ember s`

[2016-03-07 15:47] georges49 commented on #38
That worked!
Many many thanks!!!

[2016-03-07 15:54] Arkham commented on #38
Nice!

[2016-03-07 15:54] #38 closed

[2016-03-21 15:40] chrismllr opened #39 "Uncaught Error: An action named 'changeTimeZone' was not found in <web@component:as-calendar/timetable::ember1306>."
Getting this after a clean `ember install ember-calendar`...  Seen this one before?

Seems to be a component looking for its top level `timetable` to pass it a closure action.

on v0.3.5

[2016-03-22 11:20] crodriguez1a opened #40 "arrows in blueprint throw error (cli@2.4.1)"
`SyntaxError: Unexpected token )` when running ember install.

[2016-04-05 10:53] Arkham commented on #40
Hey @crodriguez1a I couldn't replicate this error using ember cli 2.4.3 Do you have some replication steps?

[2016-04-05 10:55] Arkham commented on #39
hey @chrismllr I couldn't replicate this on a freshly created ember app. Could you provide some replication steps?

[2016-04-08 08:28] timoth3y opened #42 "Build Problems"
== Update ==
Deleting all tmp files and cloning repository did the trick.

---------
Has anyone else run into this problem?

ember install ember-calendar completes correctly but ember build results in the following error
    app/styles/app.[scss|sass] does not exist

Of course, app/styles/app.scss does exist, and renaming to app/styles/app.saas produces the same error.

Installing from git clone p

[2016-04-08 08:41] mako87 opened #43 "Add options firstDay and showNumberofDays"
It might be useful to add two options:
- firstDay: the first day that will be shown on the calendar
- showNumberOfDays: number of days to display

[2016-04-26 17:47] datajohnny commented on #42
+1

[2016-05-06 09:20] prasannatm opened #44 "Apply styles over calendar"
Nice plugin. Definitely I am gonna use it. Can you please provide any document for applying styles over this calendar?. That would be awesome...

Thanks.

[2016-05-06 09:28] prasannatm commented on #44
Just Saw how to do that in README.md my mistake.. Closing this issue..

[2016-05-06 09:28] #44 closed

[2016-05-16 12:05] mciastek opened #45 "Build error - broccoli-sass"
Hi,

I installed your addon by `ember install ember-calendar` and run `ember serve`. Unfortunately I receive an error:
[code]

Ember version: `2.4.4`

I found that broccoli-sass cause that error. Can you switch to `ember-cli-sass` as Sass compiler?

Regards

[2016-05-17 18:08] mciastek commented on #45
I created pull request to fix sass compiler bug. #46

[2016-05-18 23:08] mellatone commented on #42
+1

[2016-05-19 00:21] mellatone commented on #45
+1 this should be using `ember-cli-sass`

[2016-05-19 20:36] mellatone opened #47 "_paint-core.scss not included"
Why isn't _paint-core.scss included if the component sass files depend on its variables? Is it optionally included during the addon import process?

[2016-05-19 21:15] mellatone opened #48 "failed to @extend "%dropdown-item""
Where is `%dropdown-item` defined? It is referenced in the following code:

https://github.com/alphasights/ember-calendar/blob/develop/app/styles/addons/ember-calendar/components/as-calendar/_time-zone-select.scss#L52

[code]

I'm receiving this error:

[code]

[2016-05-24 12:37] prasannatm opened #49 "Monthly and day view"
Hello Everyone,

This addon is really awesome in where we started using it for our application. But I came across that this addon doesn't or I have no idea how to switch/toggle between monthly view and day view. If so any document would be much helpful.

[2016-05-24 12:40] prasannatm commented on #48
@mellatone Yes, I too had this problem. By changing the `%dropdown-item !optional;` fixes this issue for now.

[2016-06-02 06:17] BenjaminHorn commented on #40
same here. I am on Ember CLI 2.3.0.

[2016-06-02 08:39] Arkham commented on #40
@BenjaminHorn can you setup a new repo which reproduces the issue?

[2016-06-02 10:04] BenjaminHorn commented on #40
@Arkham I'have just made a new repo (this time with ember-cli 2.4.0) and I tried to install the addon.
[code]
![image](https://cloud.githubusercontent.com/assets/5570232/15741448/1a9f8e24-28ba-11e6-93a4-ac6588b27985.png)

https://github.com/alphasights/ember-calendar/blob/develop/blueprints/ember-calendar/index.js#L10

[2016-06-02 12:41] crodriguez1a commented on #40
@Arkham Man, I'm sorry I never got back to you. Same issue as @BenjaminHorn. I'm not sure that babel is compiling when the blueprint is executed. Let me know if I can help.

[2016-06-03 05:47] BenjaminHorn commented on #40
@Arkham  @crodriguez1a I think the problem is that in  `'use strict'` mode there is no arrow function. Anyway this seems to solve the problem:

[code]

[2016-06-03 09:42] Arkham commented on #39
Closing this for now.

[2016-06-03 09:42] #39 closed

[2016-06-03 09:43] Arkham commented on #42
There aren't enough replication info, closing this.

[2016-06-03 09:43] #42 closed

[2016-06-03 09:46] Arkham commented on #47
We don't want to import css code by default, so we provide a default implementation of the styles which relies on a basic `_paint-core.scss`. This allows us to use the addon using a more feature complete version of it internally.

[2016-06-03 09:46] #47 closed

[2016-06-03 10:18] Arkham commented on #49
Hey @prasannatm we haven't added the day and moth views yet. Will gladly accept PRs for that.

[2016-06-03 10:22] #48 closed

[2016-06-03 10:25] Arkham commented on #48
Thanks for the report, I've release `0.3.8` which fixes this problem!

[2016-06-03 10:26] Arkham commented on #40
Thanks for the report, I've release `0.3.8` which fixes this problem!

[2016-06-03 10:26] #40 closed

[2016-06-03 10:31] Arkham commented on #45
Hey there, the issue is caused by incompatibilies between `broccoli-sass` and `ember-cli-sass`. I will spend some time investigating the best solution for this.

[2016-06-03 11:42] Arkham commented on #45
Scratch that, I've release `0.3.9` which implements the change :)

[2016-06-03 11:42] #45 closed

[2016-06-24 00:13] machty opened #54 "Install failed. Could not find addon with name: ember-moment@6.0.0"
`ember install ember-calendar`

yields

[code]

[code]

[2016-06-25 13:06] willrax commented on #54
Hey @machty, I don't seem to be able to replicate this using the same versions as you. I double checked, and that particular version of ember-moment seems to be real and still on npm.

Is there anything else that could help track down the issue? cc @Arkham

[2016-07-08 08:05] cteeth commented on #54
Same problem here

[code]

[code]

[2016-07-08 08:37] Arkham commented on #54
Mmm, that's really weird. @cteeth could you try running `npm install ember-moment@6.0.0` in your terminal? If that doesn't work, could you also try `npm install ember-moment@6.1.0`?

[2016-07-11 11:12] cteeth commented on #54
The command `npm install ember-moment@6.0.0` work, but issue still here :-(
[code]

[2016-08-09 20:08] jamesdixon commented on #49
@Arkham have either of these views been started on? Would be willing to help out here, but just wanted to see what has and has not been started.

[2016-08-23 18:02] GiovanniL19 opened #55 "The Broccoli Plugin: [BroccoliMergeTrees: TreeMerger (otherAssetTrees)] failed"
Hi,

I am trying to install **ember-calendar** into my project but am coming across the following error:

    at BroccoliMergeTrees._mergeRelativePath...

Does anyone have any idea? Before installing the package I had font awesome installed.

My package.json:

[code]
Bower:

[code]

[2016-08-24 19:53] jamesdixon commented on #49
@marzubov I saw that you have a fork that appears to be working on some of these features. Is it usable and is it something you'd like some help with?

[2016-08-24 20:02] jamesdixon commented on #55
@GiovanniL19 add the following to your `ember-cli-build.js` file:

[code]

[2016-08-24 21:22] marzubov commented on #49
@jamesdixon Hello. You can check demo [here](https://marzubov.github.io/ember-calendar/demo/)
It's not fully ready yet, but I will try to update it to PR version for this addon.

[2016-08-25 00:19] jamesdixon commented on #49
@marzubov you've done a hell of a job! Can I be of assistance at all? More than happy to help update documentation, fix bugs, etc. I may actually go ahead and implement your fork as-is.

[2016-08-25 07:58] marzubov commented on #49
@jamesdixon thank you)
This fork works fine for me.
It includes day/month view (and also documentation is missing for those parts).
- day/month view
- hour marker like in apple calendar
- edit option
- disabled hours
- option to show whole day slots with disabled hours

I will try to go through the code and create issues for bugs and documentation, etc.
If you find any bugs, please report issues i

[2016-08-25 15:37] jamesdixon commented on #49
@marzubov thank you. Can you enable issues on your fork so I can post if I find anything?

[2016-08-25 15:44] marzubov commented on #49
@jamesdixon of course.
Done.

[2016-08-26 11:24] GiovanniL19 commented on #55
Thank you very much @jamesdixon! Works now :D

[2016-08-26 11:24] #55 closed

[2016-08-26 15:34] jamesdixon commented on #55
@GiovanniL19 you're welcome!

[2016-08-27 00:46] jamesdixon opened #56 "remove liquid fire"
Hi, just curious if you guys would be open to removing liquid fire? It seems like a pretty hefty dependency for a fading menu. I'd be more than happy to replace it with something similar.

[2016-08-27 17:48] jamesdixon opened #57 "dependency cleanup"
There seems to be a number of dependencies, including `spinjs` and `tooltipster` that aren't used and are just bloating the add-on size.

**Note:** I'll be submitting some PRs for these, but just making note of them here for reference.

[2016-08-27 18:19] jamesdixon opened #58 "consider removing timezone functionality"
While the timezone functionality is a neat feature, I'm assuming this is probably not used terribly often. I could be wrong, but would love to hear feedback from others.

That said, my proposal would be to remove the timezone functionality. It would allow the component to be leaner (`moment-timezone` is almost 3mb) and simpler. This would also allow the removal of the dropdown dependency in additi

[2016-08-27 21:14] marzubov commented on #58
@jamesdixon I agree with you. It will be better to configure moment timezone outside.

[2016-08-29 13:23] toreriklinnerud commented on #58
I think this makes sense, as long as timeZone still can be provided as an argument, the ability to change timezone from within the calendar can be removed.

[2016-08-29 16:52] jamesdixon commented on #58
@toreriklinnerud thanks for the feedback. When you mention providing timezone as an argument, what purpose would that serve? My proposal is that the calendar becomes completely timezone-agnostic -- it only cares about displaying occurrences and leaves the manipulation of those occurrences outside of the component. Sorry if I'm missing something!

[2016-09-08 04:04] jamesdixon commented on #20
Has anyone come up with any sort of solution for this? It's somewhat of a deal-breaker in my case.

@Arkham you mentioned that you'd be willing to offer some tips on how to get this done? Care to share? :)

[2016-09-17 01:48] carloszan opened #59 "not working properly on ember 2.8"
it returns this error

[2016-09-18 09:06] willrax commented on #59
I've opened a PR to update the dependences and hopefully fix up this issue.

[2016-09-18 09:07] willrax commented on #57
Hey @jamesdixon this would amazing. I've opened a PR to update some dependencies here: #60 and noticed a few that weren't being used as well.

[2016-09-18 09:08] willrax commented on #56
Yep, I think this is something we could do. I think theres only one spot we use it for a crossfade.

[2016-09-18 09:09] willrax opened #61 "add greenkeeper"
In order to keep the deps up to date and the tests running against them, we should set up greenkeeper.io cc @daemonsy @davegriffiths

[2016-09-18 09:09] willrax commented on #54
@cteeth is this still an issue for you?

[2016-09-18 09:10] willrax commented on #54
I'll close this for now, but please let me know if its still an issue :)

[2016-09-18 09:10] #54 closed

[2016-09-18 16:53] jamesdixon commented on #57
Hey @willrax, thanks for the reply!

I've actually been fairly hard at work with @marzubov on not only cleaning things up, but also adding a host of new features. We just need to get the documentation updated and then will be submitting a PR. Here's the branch if you'd like to check it out:

https://github.com/marzubov/ember-calendar

In a nutshell, this branch adds support for a day and month vie

[2016-09-18 16:55] jamesdixon commented on #56
@willrax I already have a PR ready for this, but it goes hand-in-hand with #58.

[2016-09-19 07:45] willrax commented on #57
Oh awesome! I'll check it out.

[2016-09-19 07:45] willrax commented on #56
ok cool :+1:

[2016-10-03 21:23] jamesdixon commented on #20
@chrismllr did you ever find a solution to this?

[2016-10-21 22:05] delkopiso commented on #61
done

[2016-10-21 22:05] #61 closed

[2016-11-25 12:42] Gorzas commented on #59
I've found the same bug. It is a bug in the library liquid-fire solved in the version 0.25.

Related: https://github.com/ember-animation/liquid-fire/issues/484

[2016-11-27 21:06] Subtletree commented on #59
@willrax keen to get these dependencies updated! : )

[2017-01-20 11:20] zardaloop commented on #49
@marzubov Hi man, you did a fantastic job with the day view and week view. Where you are with that update?

[2017-04-05 20:59] rafael-paiva commented on #43
+1

I'd also like to have a `firstDay` property so I could set the calendar to start on Monday (as per our design requirements)

[2017-06-13 11:46] willrax commented on #59
this should be updated and fixed now

[2017-06-13 11:46] #59 closed

[2017-06-13 11:46] willrax commented on #59
in v0.4.0

[2017-06-13 11:46] willrax commented on #58
this is next on my list

[2017-06-13 11:47] willrax commented on #57
this should be all set.

[2017-06-13 11:47] #57 closed

[2017-06-14 07:56] willrax commented on #56
This should be removed now. The latest version still has it in the blueprint (oops), but we'll push a new version with it fully removed.

[2017-06-14 07:56] #56 closed

[2017-06-14 07:57] willrax opened #123 "Click and Drag"
When I'm adding a new event, it should be possible for me to click and then drag to extend the event without having to un-click and the re-click on the bottom of the event to resize it.

[2017-06-18 02:02] dmoon1221 opened #124 "Error: Could not find module `lodash` imported from `ember-calendar/models/day` upon installation"
In a new ember-cli project, I did the following:
1. `ember install ember-calendar`
2. Added `app/templates/index.hbs` and `app/controllers/index.js` as directed by the [Basic Usage](https://github.com/alphasights/ember-calendar#basic-usage) section
3. `ember s`

The result was that no content got rendered for `index.hbs` and I got the following console error message:
[code]

This is despite seeing

[2017-06-19 07:45] willrax commented on #124
Thanks, I'll check this out today.

[2017-06-19 09:10] willrax commented on #124
Ok, should be fixed in 0.4.1. Do you mind updating the package and then running `ember g ember-calendar` in your application?

[2017-06-19 23:01] dmoon1221 commented on #124
That fixed it! Thanks!

[2017-06-19 23:14] #124 closed

[2017-06-22 13:10] willrax commented on #43
Hey @mako87 thanks for this suggestion. We just released 0.5.0 which will let you choose the starting day of the week.

[2017-07-03 14:52] makepanic commented on #20
Hi,
I started working on this in https://github.com/alphasights/ember-calendar/compare/develop...makepanic:issues/20

It uses the algorithm explained in https://stackoverflow.com/a/11323909/2131168 and looks like this:

![20170703-160728](https://user-images.githubusercontent.com/1205444/27797915-ad0e92e0-600f-11e7-9903-ea902df30b62.png)

It currently requires a change in the occurence component t

[2017-07-12 16:56] willrax opened #127 "identify preview objects in updating action"
When you're dragging a preview we would like to identify when we're updating a preview vs an actual event.

*needs more context*

[2017-07-14 18:21] rafael-paiva opened #128 "Clicking on 'THIS WEEK' button changes calendar's first week day"
When you have both `startingDate` and `startFromDate` set, clicking on 'THIS WEEK' button changes the calendar first week day to _today_.

Let's say you have
[code]

[2017-07-25 22:20] QuinnTorres opened #130 "Build fails when main project uses sass instead of scss for ember-cli-sass"
`Build failed.
The Broccoli Plugin: [BroccoliMergeTrees] failed with:
Error: File not found: /addon.sass`

I'm getting the message above after installing `ember-calendar` and `ember-cli-sass` to a fresh `ember new` project, and then adding the option `sassOptions : { extension: 'sass' }` to `ember-cli-build.js`. My original project uses  `.sass` files for styling, so the option is necessary, but i

[2017-07-26 05:05] willrax commented on #130
Hm, strange, I'll take a look today @QuinnTorres

[2017-08-25 15:53] QuinnTorres opened #132 "Offset calculation doesn't account for change in year"
The `occurrence-proxy` model uses `currentDay.dayOfYear() - firstDay.dayOfYear()` to calculate the offset between the day of the occurrence and the day that the week starts on, but this doesn't account for the situation where the beginning of the week is a different year than the occurrence, such as when the week starts on December 31. This leads to incorrect calculations for the position of an oc

[2017-12-06 11:17] #127 closed

[2017-12-13 00:08] adambedford commented on #123
Is there a plan to implement this feature?

[2017-12-13 08:59] willrax commented on #123
Hey @adambedford Yep, we'll probably be trying to tackle this feature towards the start of next. There's a little bit of refactoring i wanted to tackle first.

[2017-12-13 16:28] willrax opened #160 "Adding a time slot at midnight duplicates the time slot in to the previous day."
# Reproduction

- Load a calendar
- Add a time slot to the start of the day (00:00)

It seems that the `day.js` file is returning true for both days when determining if an occurrence lives within those two days.

[2017-12-13 16:29] willrax commented on #58
We've started working on a branch that does this. We're running it in prod at the moment and it's working ok. I'd like to make some helper functions that help people migrate over with a bit more ease. We're using these in our app atm so bringing them across shouldn't be too difficult.

Because this is not backwards compatible we'll release it as a major release.

[2017-12-13 16:31] willrax commented on #132
We ran in to this issue when we had time slots that were across two time zones when each time zone was in a different day. We can take a look and see how to go about fixing this.

[2017-12-13 16:31] willrax commented on #132
Out of curiosity are you using time zones?

[2018-02-26 18:11] joshuairl opened #172 "Easy way to set it to start weeks on Sunday instead of Monday?"

[2018-03-09 23:39] joshuairl opened #179 "Any way to use it as full day? 24 hours? It's not working when you set it as 24 hours."
00:00:00 to 23:59:59

Ideally, my situation is that I need to be able to schedule 24/7.

This addon is great, I might have to just add it if not.
Anybody have any ideas of how I could accomplish this?

[2018-03-11 18:50] willrax commented on #179
We have something similar to this in our application. I can share our implementation details for you.

[2018-03-12 02:17] joshuairl commented on #179
Nice! That would be awesome!

--
Joshua F. Rountree | UX Developer
The E.W. Scripps Company
312 Walnut Street, Suite 2800, Floor 29th, Office 29W109
Cincinnati, Ohio 45202-4024
(513) 977-3840 (office, M-F, 7a-4p)
(513) 827-7936 (mobile)

On Mar 11, 2018, 2:50 PM -0400, Will Raxworthy <notifications@github.com>, wrote:

[2018-03-12 09:32] willrax commented on #179
here's what we have:

[code]

[2018-03-12 09:33] willrax commented on #179
This shows the following:

![screen shot 2018-03-12 at 09 33 09](https://user-images.githubusercontent.com/94960/37275935-65a5ef54-25d8-11e8-9342-d2fff203b6ad.png)

[2018-03-12 12:18] joshuairl commented on #179
I think I've got it working... But I've done some alterations to the plugin to get what I needed out of it but I'm getting another issue relating to the very top event being duped to the previous day.
![image](https://user-images.githubusercontent.com/171077/37283173-637de318-25cd-11e8-9e6d-995045c75d75.png)

I can't see how its adding it to the previous day with the occurrences filter doing isSam

[2018-03-12 14:14] willrax commented on #179
Ah yeah. We had that as well.

If i remember correctly, the reason it's happening is because moment treats 00:00 as both the current day and the day before. We never really found a way to tackle it. We tried adding a second to the time. Would love to make the implementation smarter or use something that doesn't treat 00:00 as two days.

[2018-03-12 14:18] joshuairl commented on #179
So maybe we need to do some hackiness to hide the duped instance for now I suppose. I’m sure I’ll figure out a way to rig it up soon haha.
Thanks!

--
Joshua F. Rountree | UX Developer
The E.W. Scripps Company
312 Walnut Street, Suite 2800, Floor 29th, Office 29W109
Cincinnati, Ohio 45202-4024
(513) 977-3840 (office, M-F, 7a-4p)
(513) 827-7936 (mobile)

On Mar 12, 2018, 10:14 AM -0400, Will Raxwor

[2018-03-12 14:27] willrax commented on #179
We ended up not worrying about it because the majority of our scheduling is during work hours. Let me know if you figure something out though and we can try to incorporate it in!

[2018-10-17 00:27] mcfiredrill commented on #160
confirmed
![screenshot 2018-10-17 09 27 33](https://user-images.githubusercontent.com/66243/47054804-ec333280-d1ee-11e8-97b7-d3b68cb895a4.png)

[2018-10-19 17:00] mcfiredrill commented on #160
Came up with this little hack to solve it. Just subtract one minute from the endingTime being checked in the `occurences` computed property in `addon/models/day.js`

https://github.com/mcfiredrill/ember-calendar/commit/443addbd234ef14de6d20d4bc5e41037eea45a5d#diff-f77f7664b93ad9e3650f9788a0a42433R22

Seems to be working OK so far.

[2018-11-02 17:18] sholsapp commented on #20
@makepanic have you made any progress on this since July? Is there a maintainer interested in getting this functionality merged in?

[2020-02-08 17:00] adet4ever opened #260 "Integration with Ember 3.15 Octane"
Installing this addon on Ember Octane does not work. Is there any plan to make it work on newer versions of ember?

[code]

[2020-05-23 20:45] mcfiredrill commented on #260
Hi,

I have a fork here where I've done a few upgrades (as well as incorporated the month view from another fork).
It's not perfect, but I am using it in a couple of octane apps at the moment.
https://github.com/mcfiredrill/ember-calendar

[2021-06-20 02:03] mcfiredrill opened #318 "move to adopted ember addons org"
I haven't seen any activity on this repo in years, and my fork is the only active one that I know of (I admit it still needs some work).
https://github.com/mcfiredrill/ember-calendar

I'd like to propose moving this repo to the adopted-ember-addons org so that more people can work on it.
https://github.com/adopted-ember-addons/program-guidelines/blob/master/README.md

Would the owners of this repo